################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Testing/Testing/bin/Debug/net5.0
/Testing/Testing/obj
*.suo
/.vs
